{% extends 'base.html.twig' %}

{% block body %}
    <section class="section pt-0">
        <div class="container is-max-desktop">
            <div {{ react_component('Hello', { fullName: 'Fabien' }) }}>
                Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
            </div>
            <div class="columns">
                <div class="column is-full-mobile is-three-quarters-tablet">
                    <div class="content markdown">
                        {{ content|raw }}
                    </div>
                </div>
                <div class="column is-half-mobile is-offset-one-quarter-mobile">
                    <figure class="image is-square">
                        <img class="is-rounded" src="{{ asset('images/jonnyeom.jpg') }}">
                    </figure>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
