{% extends 'base.html.twig' %}

{% block body %}
    <section class="section pt-0">
        <div class="container is-max-desktop">
            <div class="columns">
                <div class="column">
                    <aside class="menu">
                        <ul class="menu-list">
                            <li><a href="{{ path('strava_metrics') }}">Strava</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
