{% extends 'base.html.twig' %}

{% block body %}
    <section class="section pt-0">
        <div class="container custom-width">
            <div class="content">
                <div class=markdown">
                    {{ content|raw }}
                </div>

                <h3>Developer Things</h3>
                <hr>
                <p>Here are some surface level details on things that I am working on!</p>
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-3">
                        <article class="tile is-child box">
                            <p class="subtitle">Built! Solr powered React search app in Drupal 8</p>
                            <div class="content">
                                <a href="https://www.nafsa.org/search">Link to live search application</a>
                            </div>
                            <span class="tag">Drupal 8</span>
                            <span class="tag">Solr 8</span>
                            <span class="tag">React</span>
                        </article>
                    </div>
                    <div class="tile is-parent is-9">
                        <article class="tile is-child box has-background-theme-blue">
                            <p class="subtitle">Checkout! Drupal Module Maintainer</p>
                            <div class="content">
                                <h5>File Delete (D8)</h5>
                                <a href="https://www.drupal.org/project/file_delete">Link to module/project</a>
                            </div>
                            <span class="tag">Drupal 8</span>
                        </article>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="subtitle">Built! Integrated Commerce Platform in Drupal 8</p>
                            <div class="content">
                                <ul>
                                    <li>Fully featured commerce platform</li>
                                    <li>Sync with Salesforce</li>
                                    <li>Sync with other external services</li>
                                </ul>
                            </div>
                            <span class="tag">Drupal 8</span>
                            <span class="tag">Salesforce</span>
                            <span class="tag">Commerce</span>
                            <span class="tag">Naviga/Elan</span>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="subtitle">Built! Reporting application</p>
                            <div class="content">
                                <ul>
                                    <li>Interactive map</li>
                                    <li>Generate dynamic reports</li>
                                </ul>

                                <a href="https://www.nafsa.org/policy-and-advocacy/policy-resources/nafsa-international-student-economic-value-tool-v2">Link to live application</a>
                            </div>
                            <span class="tag">Drupal 8</span>
                            <span class="tag">Vue.js</span>
                            <span class="tag">React</span>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="subtitle">Built! Sync log/monitor application</p>
                            <div class="content">
                                <p>A web application for logging and monitoring data syncs between iMIS and Drupal</p>
                            </div>
                            <span class="tag">Drupal 8</span>
                            <span class="tag">React</span>
                            <span class="tag">iMIS</span>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
