{% extends 'base.html.twig' %}

{% block title %}jonnyeom | Projects{% endblock %}

{% block body %}
    <section class="section page-projects">
        <div class="container">
            <div class="content custom-width">
                {% for batch in projects|batch(2) %}
                    <div class="tile is-ancestor">
                        {% for title, project in batch %}
                            <div class="tile is-parent">
                                <article class="tile is-child box is-paddingless">
                                    <figure class="image is-marginless"><img src="{{ asset(project.image) }}"/></figure>
                                    <div class="tile-bottom">
                                        <h3>{{ title }}</h3>
                                        {% for tag in project.tags %}
                                            <span class="tag {% if tag.class %}{{ tag.class }}{% endif %}">{{ tag.label }}</span>
                                        {% endfor %}
                                    </div>
                                </article>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
