{% extends 'base.html.twig' %}

{% block body %}
    <section class="section page-projects pt-0">
        <div class="container is-max-desktop">
            <div class="content">
                {% for batch in projects|batch(2) %}
                    <div class="tile is-ancestor">
                        {% for title, project in batch %}
                            <div class="tile is-parent">
                                <article class="tile is-child box is-paddingless">
                                    <figure class="image is-marginless"><img src="{{ asset('images/projects/'~project.image) }}"/></figure>
                                    <div class="tile-bottom">
                                        <h3 class="mb-3">{{ title }}</h3>
                                        {% if project.tags is not empty %}
                                            {% for tag in project.tags %}
                                                <span class="tag is-theme-blue">{{ tag.label }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </article>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
