{% extends 'base.html.twig' %}

{% block body %}
    <section class="section page-projects pt-0">
        <div class="container is-max-desktop">
            <div class="content">
                {% for batch in projects|batch(2) %}
                    <div class="grid">
                        {% for title, project in batch %}
                            <div class="cell">
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image"><img src="{{ asset('images/projects/'~project.image) }}"/></figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="content">
                                            <h3 class="mb-3">{{ title }}</h3>
                                            {% if project.tags is not empty %}
                                                {% for tag in project.tags %}
                                                    <span class="tag is-theme-blue">{{ tag.label }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
