includes:
	- vendor/phpstan/phpstan-symfony/extension.neon
	- vendor/phpstan/phpstan-doctrine/extension.neon
parameters:
	level: 8
	checkGenericClassInNonGenericObjectType: false
	paths:
		- src
		- tests
	symfony:
	    containerXmlPath: var/cache/test/App_KernelTestDebugContainer.xml
