{% extends 'base.html.twig' %}

{% block title %}jonnyeom | Home{% endblock %}

{% block body %}
    <section class="section pt-0">
        <div class="container is-fluid">
            <div class="content">
                <div class=markdown">
                    {{ content|raw }}
                </div>

                <h3>Developer Things</h3>
                <hr>
                <p>I am unable to give out details of most of my project (due to my fear of unknown client restrictions) but here are some surface level details on things that I am working on!</p>
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-3">
                        <article class="tile is-child box">
                            <p class="subtitle">Building.. Solr Search App in Drupal 8</p>
                            <div class="content">
                                <p>@Todo: Add Deets</p>
                            </div>
                            <span class="tag is-drupal-blue">Drupal 8</span>
                            <span class="tag is-solr-orange">Solr 8</span>
                            <span class="tag is-react-blue">React</span>
                        </article>
                    </div>
                    <div class="tile is-parent is-9">
                        <article class="tile is-child box has-background-theme-blue">
                            <p class="subtitle">Checkout! Drupal Module Maintainer</p>
                            <div class="content">
                                <h4><a href="https://www.drupal.org/project/file_delete">File Delete (D8)</a></h4>

                                <p>@Todo: Add Deets</p>
                            </div>
                            <span class="tag is-drupal-blue">Drupal 8</span>
                        </article>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="subtitle">Built! Integrated Commerce Platform in Drupal 8</p>
                            <div class="content">
                                <p>@Todo: Add Deets</p>
                            </div>
                            <span class="tag is-drupal-blue">Drupal 8</span>
                            <span class="tag is-theme-blue">Salesforce</span>
                            <span class="tag is-warning">Commerce</span>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="subtitle">Built! Reporting Application</p>
                            <div class="content">
                                <p>@Todo: Add Deets</p>
                            </div>
                            <span class="tag is-drupal-blue">Drupal 8</span>
                            <span class="tag is-vue-green">Vue.js</span>
                            <span class="tag is-react-blue">React</span>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="subtitle">Built! Logging Application</p>
                            <div class="content">
                                <p>@Todo: Add Deets</p>
                            </div>
                            <span class="tag is-drupal-blue">Drupal 8</span>
                            <span class="tag is-react-blue">React</span>
                        </article>
                    </div>
                </div>

                <div class="markdown">
                    {{ content_bottom|raw }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
