{% extends 'base.html.twig' %}

{% block title %}jonnyeom | {{ title }}{% endblock %}

{% block body %}
    <section class="section">
        <div class="container is-fluid">
            <div class="content has-text-centered">
                <progress class="progress is-large is-info" max="100">60%</progress>
                <h3 class="pre-github">This is page currently a WIP!</h3>
                <hr class="github">
                <p>Refer to the <a href="https://github.com/jonnyeom/jonnyeom#development-roadmap">Roadmap</a> for upcoming changes!</p>
            </div>
        </div>
    </section>
{% endblock %}
