{% extends 'base.html.twig' %}

{% block title %}jonnyeom | {{ title }}{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="content has-text-centered">
                {% if description %}<p>{{ description }}</p>{% endif %}
                <progress class="progress is-large is-info" max="100">60%</progress>
                <h3 class="pre-github">This page is currently a WIP!</h3>
            </div>
        </div>
    </section>
{% endblock %}
