{% extends 'base.html.twig' %}

{% block title %}jonnyeom | Oling{% endblock %}

{% block body %}
<section class="section pt-0">
    <div class="container">
        <div class="content has-text-centered">
            <h1>Champagne in a plastic cup</h1>
            <div>
                <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/60/google/223/face-with-stuck-out-tongue-and-tightly-closed-eyes_1f61d.png" alt="oling">
            </div>
        </div>
    </div>
</section>
{% endblock %}