{% extends 'base.html.twig' %}

{% block title %}Krestel Light{% endblock %}

{% block body %}
    <section class="section pt-0">
        <figure class="image has-text-centered">
            <img src="{{ asset('images/krestel-light.jpeg') }}">
        </figure>
    </section>
{% endblock %}
