{#
Base template for the administration section.
#}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
    <section class="pb-6">
        <div class="container">
            {% block main %}{% endblock %}
        </div>
    </section>
{% endblock %}