{% extends 'layout.html.twig' %}

{% block main %}
    <section class="section pt-0">
        <div class="container custom-width">
            <div class="content markdown">
                {{ body|raw }}
            </div>
        </div>
    </section>
{% endblock %}
