@charset "utf-8";

// >>> Initial Variables!
// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&amp;display=swap');
// Colors
$dark-green: #414D41;
$drupal-blue: #064771;
$green: #7F8C7F;
$light-orange: #E3CDB8;
$orange: #A6664B;
$react-blue: #61dafb;
$solr-orange: #D9411E;
$strava-orange: #FC4C02;
$theme-blue: #DFE6E4;
$vue-green: #42b983;
$php-purple: #8892BF;
$php-dark-purple: #4F5B93;

$code-block-background: #f6f8fa;

$blue-200: #93c5fd;
$cool-grey: #1f2937;
$cool-grey-100: #f3f4f6;
$cool-grey-200: #e5e7eb;

$black:        hsl(0, 0%, 4%);
$black-bis:    hsl(0, 0%, 7%);
$black-ter:    hsl(0, 0%, 14%);

$grey-darker:  hsl(0, 0%, 21%);
$grey-dark:    hsl(0, 0%, 29%);
$grey:         hsl(0, 0%, 48%);
$grey-light:   hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);
$grey-lightest: hsl(0, 0%, 93%);

// Set your brand colors
//$purple: #8A4D76;
//$pink: #FA7C91;
//$brown: #757763;
//$beige-light: #D0D1CD;
//$beige-lighter: #EFF0EB;

// Typography
$family-primary: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$family-monospace: "JetBrains Mono",ui-monospace,"Roboto Mono",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;



// >>> Derived Variables!

// Colors
$primary: $green;
$danger: $light-orange;
$info: $theme-blue;
$link: $orange;
$custom-colors: (
        'drupal-blue': $drupal-blue,
        'react-blue': $react-blue,
        'solr-orange': $solr-orange,
        'strava-orange': $strava-orange,
        'theme-blue': $theme-blue,
        'vue-green': $vue-green,
        'php-purple': $php-purple
);

// Text colors
$text: $cool-grey;
$text-light: $grey-dark;
$text-strong: $grey-darker;

// Code colors
$code: $cool-grey;
$code-background: $cool-grey-100;

$pre: $text;
$pre-background: $code-block-background;



// >>> Generic Variables!
//$body-font-size: 15px;
$body-line-height: 1.55;

$code-padding: 0 3px;
$code-size: 13px;

$pre-font-size: 13px;
$pre-padding: 0;
$pre-code-font-size: 1em;



// >>> Other!
// Footer
$footer-padding: 3rem 1.5rem 8rem;
$footer-background-color: $theme-blue;



// Import only what you need from Bulma
//@import "../../node_modules/bulma/bulma";
@import "../../node_modules/bulma/sass/utilities/_all";
@import "../../node_modules/bulma/sass/base/_all";
@import "../../node_modules/bulma/sass/elements/box";
@import "../../node_modules/bulma/sass/elements/button";
@import "../../node_modules/bulma/sass/elements/container";
@import "../../node_modules/bulma/sass/elements/content";
@import "../../node_modules/bulma/sass/elements/icon";
@import "../../node_modules/bulma/sass/elements/image";
@import "../../node_modules/bulma/sass/elements/notification";
@import "../../node_modules/bulma/sass/elements/other";
@import "../../node_modules/bulma/sass/elements/progress";
@import "../../node_modules/bulma/sass/elements/table";
@import "../../node_modules/bulma/sass/elements/tag";
@import "../../node_modules/bulma/sass/elements/title";
@import "../../node_modules/bulma/sass/components/level";
@import "../../node_modules/bulma/sass/components/menu";
@import "../../node_modules/bulma/sass/components/navbar";
@import "../../node_modules/bulma/sass/components/tabs";
@import "../../node_modules/bulma/sass/grid/columns";
@import "../../node_modules/bulma/sass/grid/tiles";
@import "../../node_modules/bulma/sass/helpers/_all";
@import "../../node_modules/bulma/sass/layout/footer";
@import "../../node_modules/bulma/sass/layout/section";

@import "custom";
