@charset "utf-8";

@use "./theme";

// Override global Sass variables from the /utilities folder
@use "bulma/sass/utilities" with (
  // Colors!
  $family-primary: 'system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"',
  $family-monospace: '"JetBrains Mono",ui-monospace,"Roboto Mono",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace',
  $primary: theme.$green,
  $danger: theme.$light-orange,
  $info: theme.$theme-blue,
  $link: theme.$orange,
  $custom-colors: (
    'drupal-blue': theme.$drupal-blue,
    'react-blue': theme.$react-blue,
    'solr-orange': theme.$solr-orange,
    'strava-orange': theme.$strava-orange,
    'theme-blue': theme.$theme-blue,
    'vue-green': theme.$vue-green,
    'php-purple': theme.$php-purple
  ),

  // Initial colors
  $black:        hsl(0, 0%, 4%),
  $black-bis:    hsl(0, 0%, 7%),
  $black-ter:    hsl(0, 0%, 14%),
  $grey-darker: theme.$grey-darker,
  $grey-dark: theme.$grey-dark,
  $grey: theme.$grey,
  $grey-light: theme.$grey-light,
  $grey-lighter: theme.$grey-lighter,
  $grey-lightest: theme.$grey-lightest,

  // Text colors
  $text: theme.$cool-grey,
  $text-weak: theme.$grey-dark,
  $text-strong: theme.$grey-darker,

  // Code colors
  $code: theme.$cool-grey,
  $code-background: theme.$cool-grey-100,
  $pre: theme.$cool-grey,
  $pre-background: #f6f8fa,
);
@use "bulma/sass/base" with (
  //$body-font-size: 15px,
  $body-line-height: 1.55,
  $code-padding: 0 3px,
  $code-size: 13px,
  $pre-font-size: 13px,
  $pre-padding: 0,
  $pre-code-font-size: 1em
);
@forward "bulma/sass/elements/block";
@forward "bulma/sass/elements/box";
@forward "bulma/sass/elements/button";
@use "bulma/sass/elements/content" with (
  $content-heading-weight: 600,
);
@forward "bulma/sass/elements/icon";
@forward "bulma/sass/elements/image";
@forward "bulma/sass/elements/notification";
@forward "bulma/sass/elements/progress";
@forward "bulma/sass/elements/table";
@forward "bulma/sass/elements/tag";
@forward "bulma/sass/elements/title";
@forward "bulma/sass/components/card";
@forward "bulma/sass/components/menu";
@forward "bulma/sass/components/navbar";
@forward "bulma/sass/components/tabs";
@forward "bulma/sass/grid/columns";
@forward "bulma/sass/grid/grid";
@forward "bulma/sass/helpers";
@forward "bulma/sass/layout/container";
@use "bulma/sass/layout/footer" with (
  $footer-padding: 3rem 1.5rem 8rem,
  $footer-background-color: hsla(var(--bulma-theme-blue-h),var(--bulma-theme-blue-s),var(--bulma-theme-blue-l),.2)
);
@forward "bulma/sass/layout/section";

// Import the themes so that all CSS variables have a value
@forward "bulma/sass/themes";

// Import custom sass.
@use "./custom";

// Import Font
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&amp;display=swap');
