body {
  border-top: 12px solid $light-orange;
}

// Menu
nav.menu {
  .tabs a {
    // On mobile, make it less wide.
    padding: .5em;

    @include tablet {
      font-size: 1.1rem;
      padding: 0.5em 1em;
    }
  }
}

// Content.
.content {
  h1,h2 {
    margin-bottom: .75rem;
    &:not(:first-child) {
      margin-top: 3.25rem;
    }
  }
  h3,h4 {
    margin-bottom: .5rem;
    &:not(:first-child) {
      margin-top: 2.25rem;
    }
  }
  h5,h6 {
    margin-bottom: .25rem;
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  hr {
    margin: .5rem 0 1rem 0;
  }

  code {
    border-bottom: 1px solid $cool-grey-200;
    border-radius: 4px;
    word-break: break-word;
  }

  pre {
    line-height: 1.6;

    code {
      border-bottom: 0;
      border-radius: 0;
      word-break: unset;

      &.hljs {
        background-color: $code-block-background;
        padding: unset;
      }
    }
  }

  @include tablet {
    p, li {
      font-size: 1rem;
    }

    code,pre {
      font-size: 14px;
    }
  }

  &.markdown {
    ul {
      margin-bottom: 2em;
      margin-top: -.25em;
    }

    blockquote ul {
      margin-bottom: 0;
    }
  }
}

.content-spacer {
  margin-bottom: 4rem;
}

// Page: Projects.
.page-projects {
  .tile-bottom {
    padding: 1.25rem;
  }
}

.heading-permalink {
  color: transparent;
  margin-left: .25rem;
  text-decoration: none;
  visibility: hidden;
}

h1:hover .heading-permalink,
h2:hover .heading-permalink,
h3:hover .heading-permalink,
h4:hover .heading-permalink,
h5:hover .heading-permalink,
h6:hover .heading-permalink,
.heading-permalink:hover {
  color: $blue-200;
  text-decoration: none;
  visibility: visible;
}

.box.php {
  background-color: $php-purple;
  color: $white;
  font-weight: 500;

  a {
    color: $black;
    &:hover,
    &:focus {
      color: $php-dark-purple;
    }
  }
}
