// >>> Custom Colors!
$dark-green: #414D41;
$drupal-blue: #064771;
$green: #7F8C7F;
$light-orange: #E3CDB8;
$orange: #A6664B;
$react-blue: #61dafb;
$solr-orange: #D9411E;
$strava-orange: #FC4C02;
$theme-blue: rgb(76, 97, 91);
$vue-green: #42b983;
$php-purple: #8892BF;
$php-dark-purple: #4F5B93;

$blue-200: #93c5fd;
$cool-grey: #1f2937;
$cool-grey-100: #f3f4f6;
$cool-grey-200: #e5e7eb;

$grey-darker:  hsl(0, 0%, 21%);
$grey-dark:    hsl(0, 0%, 29%);
$grey:         hsl(0, 0%, 48%);
$grey-light:   hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);
$grey-lightest: hsl(0, 0%, 93%);
