// Custom width for containers.
.custom-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}

// Markdown Content.
.markdown {
  hr {
    margin: .5rem 0 1rem 0;
  }

  h1,h2,h3,h4,h5,h6 {
    margin-bottom: .5rem;
  }
}

// Page: Projects.
.page-projects {
  .tile-bottom {
    padding: 1.25rem;
  }
}