@charset "utf-8";

// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$dark-green: #414D41;
$drupal-blue: #064771;
$green: #7F8C7F;
$light-orange: #E3CDB8;
$orange: #A6664B;
$react-blue: #61dafb;
$solr-orange: #D9411E;
$theme-blue: #DFE6E4;
$vue-green: #42b983;

// Set your brand colors
//$purple: #8A4D76;
//$pink: #FA7C91;
//$brown: #757763;
//$beige-light: #D0D1CD;
//$beige-lighter: #EFF0EB;

// Update Bulma's global variables
//$family-sans-serif: "Nunito", sans-serif;
$primary: $green;
$danger: $light-orange;
$info: $theme-blue;
$link: $orange;
$footer-background-color: $theme-blue;

$custom-colors: (
        'drupal-blue': $drupal-blue,
        'react-blue': $react-blue,
        'solr-orange': $solr-orange,
        'theme-blue': $theme-blue,
        'vue-green': $vue-green
);

// Update some of Bulma's component variables
//$body-background-color: $beige-lighter;
//$control-border-width: 2px;
//$input-border-color: transparent;
//$input-shadow: none;

// Import only what you need from Bulma
//@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/elements/box";
@import "../node_modules/bulma/sass/elements/button";
@import "../node_modules/bulma/sass/elements/container";
@import "../node_modules/bulma/sass/elements/content";
@import "../node_modules/bulma/sass/elements/icon";
@import "../node_modules/bulma/sass/elements/image";
@import "../node_modules/bulma/sass/elements/other";
@import "../node_modules/bulma/sass/elements/progress";
@import "../node_modules/bulma/sass/elements/tag";
@import "../node_modules/bulma/sass/elements/title";
@import "../node_modules/bulma/sass/components/level";
@import "../node_modules/bulma/sass/components/navbar";
@import "../node_modules/bulma/sass/components/tabs";
@import "../node_modules/bulma/sass/grid/columns";
@import "../node_modules/bulma/sass/grid/tiles";
@import "../node_modules/bulma/sass/helpers/_all";
@import "../node_modules/bulma/sass/layout/footer";
@import "../node_modules/bulma/sass/layout/section";

@import "custom";
