<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}jonnyeom{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/jonnyeom.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>

<header class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="container is-fluid">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <span class="icon is-large">
                    <i class="fas fa-fire has-text-danger fa-3x"></i>
                </span>
                <div class="ml-1 is-size-2 is-size-3-touch">jonnyeom</div>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="mainNavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="mainNavbar" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="https://github.com/jonnyeom" target="_blank">
                    <span class="icon">
                        <i class="fab fa-lg fa-github-alt"></i>
                    </span>
                </a>
                <a class="navbar-item" href="https://twitter.com/jonnyeom" target="_blank">
                    <span class="icon">
                        <i class="fab fa-lg fa-twitter"></i>
                    </span>
                </a>
                <a class="navbar-item" href="https://www.linkedin.com/in/jonnyeom/" target="_blank">
                    <span class="icon">
                        <i class="fab fa-lg fa-linkedin"></i>
                    </span>
                </a>
                <a class="navbar-item" href="https://www.drupal.org/u/jonnyeom" target="_blank">
                    <span class="icon">
                        <i class="fab fa-lg fa-drupal"></i>
                    </span>
                </a>
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Log in</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<nav class="section">
    <div class="container is-fluid">
        <div class="tabs is-centered">
            <ul>
                <li class="is-active"><a href="{{ path('app_homepage') }}">Home</a></li>
                <li><a>Blog</a></li>
                <li><a>Projects</a></li>
                <li><a>About</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block body %}{% endblock %}

<footer class="footer">
    <div class="content has-text-centered">
        <p>Copyright © 2019 Jonathan Eom.<br><strong>jonnyeom</strong> by <a href="https://github.com/jonnyeom">jonnyeom</a>.</p>
    </div>
</footer>

{% block javascripts %}{% endblock %}
</body>
</html>
