<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}jonnyeom{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/jonnyeom.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>

<header class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
          <span class="icon is-large">
            <i class="fas fa-fire has-text-danger fa-3x"></i>
          </span>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item is-size-1" href="{{ path('app_homepage') }}">
                    jonnyeom
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<nav class="section">
    <div class="container">
        <div class="tabs">
            <ul>
                <li><a href="{{ path('app_homepage') }}">Home</a></li>
                <li><a>Blog</a></li>
                <li><a>Projects</a></li>
                <li><a>About</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="section">
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>jonnyeom</strong> by <a href="https://github.com/jonnyeom">jonnyeom</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
</footer>

{% block javascripts %}{% endblock %}
</body>
</html>