<!DOCTYPE html>
<html lang="en">
<head>
    {% block gtm_header %}{% endblock %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block seo %}{% endblock %}

    <link rel="icon"
          href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/60/google/223/maple-leaf_1f341.png">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <script defer src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"></script>
</head>

<body {% block body_attributes %}{% endblock %}>
{% block body %}{% endblock %}

<footer class="footer">
    <div class="container custom-width">
        <div class="mb-1">
            <a class="mr-3" href="https://www.drupal.org/u/jonnyeom" target="_blank" rel="noopener">
                    <span class="icon"><i class="fab fa-lg fa-drupal"></i></span>
            </a>
            <a class="mr-3" href="https://github.com/jonnyeom" target="_blank" rel="noopener">
                    <span class="icon"><i class="fab fa-lg fa-github-alt"></i></span>
            </a>
            <a class="mr-3" href="https://twitter.com/jonnyeom" target="_blank" rel="noopener">
                    <span class="icon"><i class="fab fa-lg fa-twitter"></i></span>
            </a>
            <a href="https://www.linkedin.com/in/jonnyeom/" target="_blank" rel="noopener">
                    <span class="icon"><i class="fab fa-lg fa-linkedin"></i></span>
            </a>
        </div>
        <p>Copyright © 2020 Jonathan Eom · <strong>jonnyeom</strong> by
            <a href="https://github.com/jonnyeom">jonnyeom</a></p>
    </div>
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
