{% extends 'base.html.twig' %}

{% block main_menu %}
    <nav class="px-5 pb-6 menu">
        <div class="container is-max-desktop">
            <div class="tabs has-text-weight-medium">
                <ul>
                    <li>
                        <a href="{{ path('app_homepage') }}">
                            <span class="icon"><i class="fas fa-arrow-left" aria-hidden="true"></i></span>
                            <span>Home</span>
                        </a>
                    </li>
                    <li{% if app.request.get('_route') == 'strava_metrics' %} class="is-active"{% endif %}>
                        <a href="{{ path('strava_metrics') }}">Progress</a></li>
                    <li{% if app.request.get('_route') == 'strava_plan' %} class="is-active"{% endif %}>
                        <a href="{{ path('strava_plan') }}">Plan</a></li>
                    <li class="is-info">
                        <a href="{{ path('strava_logout') }}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
