{% extends 'base.html.twig' %}

{% block body %}
    <section class="section pt-0">
        <div class="container is-max-desktop">
            <div class="content">
                {{ dump(data) }}
            </div>
        </div>
    </section>
{% endblock %}
