{% extends 'base.html.twig' %}

{% block body %}
    <section class="section pt-0">
        <div class="container is-max-desktop">
            <div class="content">
                <div class="table-container">
                <table class="table is-hoverable is-striped is-narrow-mobile">
                    <thead>
                    <tr>
                        <th>Week</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                        <th>Sun</th>
                        <th>total</th>
                        <th>5 wk avg</th>
                    </tr>
                    </thead>
                    {% for weeklyStat in activitiesByWeek %}
                        <tr>
                            <th>{{ weeklyStat.date }}</th>
                            {% for dailyStat in weeklyStat %}
                                <td>
                                    {% if dailyStat.distance > 0 %}
                                    {{ (dailyStat.distance/1609.34)|round(1)}}
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td><b>{{ (weeklyStat.totalDistance/1609.34)|round(1) ~ ' mi' }}</b></td>
                            <td><b>{{ (weeklyStat.fiveWeekAverage/1609.34)|round(1) ~ ' mi' }}</b></td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
